* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(./assets/images/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-clip: content-box;
}

.cuadro {
    display: block;
    position: relative;
    top: 18rem;
    justify-content: center;
    flex-direction: row;
    color: white;
    background-image: linear-gradient(red, yellow);
    border-radius: 10px;
    width: 12rem;
    height: 12rem;
    padding-top: 10px;
    transition: box-shadow 0.3s;
}
.cuadro:hover {
    box-shadow: 0px 0px 25px 10px gray;
}

.inicio__item {
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(aqua, white);
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

.inicio__item:hover {
    text-shadow: 1px 1px 3px black;
    box-shadow: 0px 0px 30px 10px black;
}

img {
    position: absolute;
    z-index: -1;
}

header {
    background-color: rgb(53, 94, 59);
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar h1 {
    padding-left: 30px;
}

.navbar a {
    text-decoration: none;
    color: aquamarine;
}

.navbar__contenido {
    list-style-type: none;
    display: flex;
    position: relative;
}

.navbar__contenido a {
    text-decoration: none;
    color: white;

}
.navbar__contenido li {
    list-style-type: none;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    transition: transform 0.3s;
}
.navbar__contenido li:active {
    border: 1px solid gray;
    border-radius: 5px;
    transform: scale(0.9);
}

.katarina {
    height: 470px;
    transition: all 0.5s;
}

.carta {
    height: 520px;
    position: relative;
}

.carta:hover {
    background-color: rgba(186, 196, 200, 0.1);
    border-radius: 30px;
}

.cartas img {
    position: relative;
    width: 400px;
    top: 10px;
    border-radius: 10px;
    z-index: 1;
}

.cartas p {
    position: relative;
    top: 15px;
    margin-bottom: 30px;
}

.cartas a {
    background-color:darkgoldenrod;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
    scale: 0;
    text-decoration: none;
}

.cartas a:hover {
    box-shadow: 0 0 10px -1px white;
}
.boton:active {
    transform: scale(0.9);
}

.boton:active {
    text-decoration: underline;
    transform: scale(0.99px);
}
.boton {
    transition: all 0.3s;
    position: absolute;
    bottom: 10px;
    display: inline-block;
    left: 14rem;
    margin-bottom: 5px;
}

footer {
    background-color: aqua;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: end;
    margin-top: 50px;
}
footer nav {
    padding: 0px 10px;
}

footer a {
    text-decoration: none;
    color: red;
    font-style:italic
}

@media (max-width: 576px) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .navbar__contenido {
        display: flex;
        flex-direction: column;
    }
    .navbar h1 {
        justify-content: center;
    }
    .carta p {
        color: white;
    }

    .cartas {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .carta {
        display: grid;
        grid-template-rows: repeat(4,1fr);
        justify-content: center;
        width: 33rem;
        height: 33.5rem;

    }
    .carta p {
        text-align: center;
    }
    .carta img {
        left: 3.25rem;
    }
    header {
        width: 100%;
    }
    .boton {
        left: 12rem;
    }
    .katarina {
        top: 3rem;
    }
    .boton__ultimo {
        bottom: 5.5rem;
    }
    
}